# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

# DADOS REAIS DA EMPRESA E UPLOADS (Bloqueio Total contra Sweepers)
public/uploads/
*.csv
*.xlsx
*.xls

# Ignora ficheiros de importação de dados que possas ter criado com dados reais
# (Se tiveres um JSON específico com o stock, ele vai ser ignorado)
*.json
!package.json
!tsconfig.json
!package-lock.json

prisma/seed.ts
docker-compose.yml
.gitignore